 {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
}

#Hometitle {
    position: absolute;
    top: 1rem;
    left: 6em;
}

#Homesub1 {
    position: absolute;
    left: 6em;
    top: 3.5em;
}


@media screen and (orientation: landscape) {


}