/* mobile-first design for Pacific Rhododendron layout */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 100vh;
}

#rhodiePiture {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("Pacific\ Rhododendron\ 1\ -\ Walter\ Siegmund.jpeg");
    background-size: cover;
    background-position: center center;
}

#rhodieTitle h1 {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
    font-size: 2.5em;
    width: calc(100vw - 2em)
}

#rhodieTitle p {
    position: absolute;
    top: 0;
    left: 1em;
    color: white;
    font-size: 1em
}

/* PUT THE REST OF THE MOBILE BASELINE LAYOUT HERE */

@media screen and (orientation: landscape) {
    #rhodiePiture {
        width: 50vw;
    }
    #rhodieTitle {
        width: 50vw;
        left: 50vw;
        background-color: darkgrey;
    }
    #rhodieTitle h1 {
        width: 45vw;
    }
}

/* PUT THE REST OF THE DESKTOP BASELINE LAYOUT HERE */