/* mobile-first design for responsive layout */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

.img {
    position: absolute;
}

/* PUT THE REST OF THE MOBILE BASELINE LAYOUT HERE */

@media screen and (orientation: landscape) {



}