* {
    box-sizing: border-box; /* set box-sizing to make dimensions primary */
}

html, body {
	padding: 0;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
}

h1 {
	position: absolute;
	padding: 0;
	margin: 0;
}

/* six sections of 100vh == 500vh with a tall background photo of the dog */
#Photo {
    position: absolute;
    width: 100vw;
    height: 500vh;
    background-image: url("istockphoto-1813083710-612x612.jpg");
    background-size: cover;
    background-position: center top;
	background-repeat: no-repeat;
}