* {
    box-sizing: border-box; /* set box-sizing to make dimensions primary */
}

html, body {
	padding: 0;
	margin: 0;
}

h1 {
	position: absolute;
	padding: 0;
	margin: 0;
}

/* six sections of 100vh == 500vh with a tall background photo of the dog */
#Photo {
    position: absolute;
    width: 100vw;
    height: 500vh;
    background-image: url("Dog-Piture.jpg");
    background-size: cover;
    background-position: center top;
	background-repeat: no-repeat;
}

/* paragraph tags are given a size and padding */
section > .content > p {
    font-size: 2rem;
    padding: 1rem;
}