* {
    box-sizing: border-box; /* set box-sizing to make dimensions primary */
}

html, body {
	padding: 0;
	margin: 0;
}

h1 {
	position: absolute;
	padding: 0;
	margin: 0;
}

/* six sections of 100vh == 500vh with a tall background photo of the dog */
#Photo {
    position: absolute;
    width: 100vw;
    height: 500vh;
    background-image: url("Dog-Piture.jpg");
    background-size: cover;
    background-position: center top;
	background-repeat: no-repeat;
}

section > .content > p {
    position: absolute;
    font-size: 2rem;
    padding: 1rem;
}

#team1 {
    position: absolute;
	font-size: 1rem;
	width: 50vw;
	left: 47rem;
    top: 15rem;
}

#team2 {
    position: absolute;
	width: 50vw;
	left: 45.5rem;
    top: 47rem;
}

#team3 {
    position: absolute;
	width: 50vw;
	left: 45.5rem;
    bottom: -46rem;
}

#team4 {
    position: absolute;
	width: 50vw;
	left: 46.4rem;
    bottom: -94rem;
}

#team5 {
   position: absolute;
	width: 50vw;
	left: 46rem;
    bottom: -145rem;
}

#title {
    position: absolute;
    left: 39rem;
    top: 4rem;
	font-size: 2.5rem;
}

#team1 p {
	background-color: #cfddebbb;
	width: 45vw;
}

#team2 p {
	background-color: #cfddebbb;
	width: 45vw;
}

#team3 p {
	background-color: #cfddebbb;
	width: 45vw;
}

#team4 p {
	background-color: #cfddebbb;
	width: 45vw;
}

#team5 p {
	background-color: #cfddebbb;
	width: 45vw;
}

#title h1 {
	background-color: #cfddebbb;
}