* {
    box-sizing: border-box; /* set box-sizing to make dimensions primary */
}

html, body {
	padding: 0;
	margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* six sections of 100vh == 500vh with a tall background photo of the dog */
main {
position: absolute;
width: 100vw;
height: 500vh;
background-image: url("Dog-Piture.jpg");
background-size: cover;
background-position: center top;
background-repeat: no-repeat;
}

/* position the "scroll down" instructions at the bottom of the screen, aligned with .content */
section > .instructions {
position: absolute;
bottom: 2vh;
width: 42vw;
right: 4vw;
text-decoration: none;
text-transform: uppercase;
font-size: 1rem;
color: #000;
padding-left: 1rem; /* to align with paragraphs */
}

/* all sections are positioned relative and have a full-page height of 100vh */
section {
position: relative;
height: 100vh;
/* border-bottom: dashed 1px #fff5; /* comment in to see faint division lines between sections */
}

/* paragraph tags are given a size and padding */
section > .content > p {
position: absolute;
font-size: 2rem;
padding: 1rem;
}

/* content divs within the sections are positioned absolutely to the top and right, almost half the page wide */
section > .content {
    position: absolute;
    width: 42vw;
    top: 20vh;
    left: 4vw;
}

/* paragraph tags are given a size and padding */
section > .content > p {
    font-size: 2rem;
    padding: 1rem;
}

/* position the "scroll down" instructions at the bottom of the screen, aligned with .content */
section > .instructions {
    position: absolute;
    bottom: 2vh;
    width: 42vw;
    left: 4vw;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #F0F8FF;
    padding-right: 1rem; /* to align with paragraphs */
}

/* set font, size, and spacing on the h1 tag */
#title h1 {
    font-size: 7rem;
    line-height: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: -0.4rem; /* due to the size and design of the font, bump it left a tiny bit for visual alignment */
    padding-right: 1rem; /* to align with paragraphs */
}

/* change the color in the last section due to the background image */
#title h1, #team1 p, #team2 p, #team3 p, #team4 p {
    background-color: #cfddebbb;
}
