* {
    box-sizing: border-box; /* set box-sizing to make dimensions primary */
}

html, body {
	padding: 0;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
}

h1 {
	padding: 0;
	margin: 0;
}

#Photo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("istockphoto-1813083710-612x612.jpg");
    background-size:
    background-position:
}