* {
    box-sizing: border-box; /* set box-sizing to make dimensions primary */
}

html, body {
	padding: 0;
	margin: 0;
}

h1 {
	position: absolute;
	padding: 0;
	margin: 0;
}

/* six sections of 100vh == 500vh with a tall background photo of the dog */
#Photo {
    position: absolute;
    width: 100vw;
    height: 500vh;
    background-image: url("Dog-Piture.jpg");
    background-size: cover;
    background-position: center top;
	background-repeat: no-repeat;
}

#Team1 {
    position: absolute;
    
}

#Team2 {
    position: absolute;
}

#Team3 {
    position: absolute;
}

#Team4 {
    position: absolute;
}

#Team5 {
    position: absolute;
}

#Team6 {
    position: absolute;
}