/* mobile-first design for responsive recipe layout */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

 #PancakeTitle h1 {
        position: absolute;
        left: 2.3em;
        font-size: 2.5em;
        width: calc(100vw - 2em)
 }
            
    #Pancakeexplain {
        position: absolute;
        left: 38em;
        bottom: 50em;
        font-size: 1.1em;
    }

/* PUT THE REST OF THE MOBILE BASELINE LAYOUT HERE */


@media screen and (orientation: landscape) {

    #PancakeTitle h1 {
        position: absolute;
        left: 12em;
        Top: 0em;
        font-size: 3.5em;
    }
    
    #Pancakeexplain {
        position: absolute;
        left: 38em;
        top: 6.5em;
        font-size: 1.1em;
    }

    #Pancakein {
        position: absolute;
        left: 60em;
        top: 9em;
    }

    #PancakeDT {
        left: 60em;
    }

    #PancakeD {
        position: absolute;
        left: -.4em;
        
    }

    #Pancakecopy footer {
        position: absolute;
        right: 1em;
        bottom: 0em;
    }
    }
   

