@media screen and (orientation: landscape) {

    #PancakeTitle h1 {
        position: absolute;
        left: 12em;
        font-size: 3.5em;
    }
    
    #Pancakeexplain {
        position: absolute;
        left: 38em;
        top: 6.5em;
        font-size: 1.1em;
    }

    #Pancakein {
        position: absolute;
        left: 60em;
        top: 9em;
    }

    #PancakeDT {
        left: 60em;
    }

    #PancakeD1 {
        position: absolute;
        right: 20em;
        
    }

    #PancakeD2 {
        position: absolute;
        left: 50em;
    }

    #Pancakecopy footer {
        position: absolute;
        left: 70em;
        bottom: .5em;
    }
    }
   

